{% extends 'base.html.twig' %}

{% block title %}Nike | Event{% endblock %}

{% block body %}
    <div class="container-element-product">
        <div class="container-image-product">
            <img id="jordan-1-image" src="{{ asset('img/jordan1.png') }}">
        </div>
        <div class="container-product-info">
            <div class="product-info-title">
                <h2>Jordan 1</h2>
            </div>
            <div class="product-info-collab">
                <div class="product-info-collab-title">
                    Collab Design with
                </div>
                <ul class="list-info-collab">
                    <li>Michael Jordan</li>
                    <li>Lebron James</li>
                    <li>Kobe Bryant</li>
                    <li>Caitlin Clark</li>
                    <li>Kevin Durant</li>
                    <li>Victor Wembanyama</li>
                    <li>Travis Scott</li>
                    <li>Drake</li>
                    <li>Kendrick Lamar</li>
                    <li>Ronaldinho</li>
                </ul>
            </div>
            <div class="product-info-button">
                <div class="product-button-product">
                    <button class="button-product" onclick="location.href='/shoes1';">Voir le modèle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-element-product">
        <div class="container-image-product">
            <img id="air-max-image" src="{{ asset('img/airMax1.png') }}">
        </div>
        <div class="container-product-info">
            <div class="product-info-title">
                <h2>Air max 1</h2>
            </div>
            <div class="product-info-collab">
                <div class="product-info-collab-title">
                    Collab Design with
                </div>
                <ul class="list-info-collab">
                    <li>Frank Ocean</li>
                    <li>Billie Eilish</li>
                    <li>Odell Beckham Jr.</li>
                    <li>Paul George</li>
                    <li>Blake Griffin</li>
                    <li>Anthony Joshua</li>
                    <li>Eliud Kipchoge</li>
                    <li>Carlos Alcaraz</li>
                    <li>Neymar Jr</li>
                    <li>DJ Khaled</li>
                </ul>
            </div>
            <div class="product-info-button">
                <div class="product-button-product">
                    <button class="button-product" onclick="location.href='/shoes2';">Voir le modèle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-element-product">
        <div class="container-image-product">
            <img id="air-force-1-image" src="{{ asset('img/airForce1.png') }}">
        </div>
        <div class="container-product-info">
            <div class="product-info-title">
                <h2>Air force 1</h2>
            </div>
            <div class="product-info-collab">
                <div class="product-info-collab-title">
                    Collab Design with
                </div>
                <ul class="list-info-collab">
                    <li>Colin Kaepernick</li>
                    <li>Rafael Nadal</li>
                    <li>Eminem</li>
                    <li>Allyson Felix</li>
                    <li>Megan Thee Stallion</li>
                    <li>Chloe Kim</li>
                    <li>Giannis Antetokounmpo</li>
                    <li>Sifan Hassan</li>
                    <li>Aya Nakamura</li>
                    <li>Odell Beckham Jr.</li>
                </ul>
            </div>
            <div class="product-info-button">
                <div class="product-button-product">
                    <button class="button-product" onclick="location.href='/shoes3';">Voir le modèle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-element-product">
        <div class="container-image-product">
            <img id="nike-cortez-image" src="{{ asset('img/nikeCortez.png') }}">
        </div>
        <div class="container-product-info">
            <div class="product-info-title">
                <h2>Nike cortez</h2>
            </div>
            <div class="product-info-collab">
                <div class="product-info-collab-title">
                    Collab Design with
                </div>
                <ul class="list-info-collab">
                    <li>Caitlin Clark</li>
                    <li>Maria Sharapova</li>
                    <li>Taylor Kornieck</li>
                    <li>Eugénie Le Sommer</li>
                    <li>Megan Rapinoe</li>
                    <li>Mallory Pugh</li>
                    <li>Laurie Hernandez</li>
                    <li>Alex Morgan</li>
                    <li>Keroline Nicoli</li>
                    <li>Megan Anderson</li>
                </ul>
            </div>
            <div class="product-info-button">
                <div class="product-button-product">
                    <button class="button-product" onclick="location.href='/shoes4';">Voir le modèle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-element-product">
        <div class="container-image-product">
            <img id="nike-dunk-image" src="{{ asset('img/nikeDunk.png') }}">
        </div>
        <div class="container-product-info">
            <div class="product-info-title">
                <h2>Nike dunk</h2>
            </div>
            <div class="product-info-collab">
                <div class="product-info-collab-title">
                    Collab Design with
                </div>
                <ul class="list-info-collab">
                    <li>Florent Manaudou</li>
                    <li>Breanna Stewart</li>
                    <li>Serena Williams</li>
                    <li>Beatrice Vio</li>
                    <li>Marie-Amélie Le Fur</li>
                    <li>Sha'Carri Richardson</li>
                    <li>Marlou van Rhijn</li>
                    <li>Grace Geyoro</li>
                    <li>Chloe Kim</li>
                    <li>Allyson Felix</li>
                </ul>
            </div>
            <div class="product-info-button">
                <div class="product-button-product">
                    <button class="button-product" onclick="location.href='/shoes5';">Voir le modèle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-element-product">
        <div class="container-image-product">
            <img id="nike-tn-image" src="{{ asset('img/nikeTn.png') }}">
        </div>
        <div class="container-product-info">
            <div class="product-info-title">
                <h2>Nike TN</h2>
            </div>
            <div class="product-info-collab">
                <div class="product-info-collab-title">
                    Collab Design with
                </div>
                <ul class="list-info-collab">
                    <li>Kylian Mbappé</li>
                    <li>Matthew Walzer</li>
                    <li>Virgil Abloh</li>
                    <li>David Beckham</li>
                    <li>Andre Agassi</li>
                    <li>Achraf Hakimi</li>
                    <li>Parris Goebel</li>
                    <li>Tiakola</li>
                    <li>Kerolin Nicoli</li>
                    <li>Anthony Joshua</li>
                </ul>
            </div>
            <div class="product-info-button">
                <div class="product-button-product">
                    <button class="button-product" onclick="location.href='/shoes6';">Voir le modèle</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
