{% extends 'base.html.twig' %}

{% block title %}Hello Shoes3Controller!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container-titre-shoes padding3048">
    <div class="titre-shoes">
        <h2>Air Force 1 60 Years (10)</h2>
    </div>
    <div class="setting-shoes">
        <div class="filtre-shoes">
            <h3>Masquer les filtres</h3>
            <svg aria-hidden="true" class="icon-filter-ds" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none"><path stroke="currentColor" stroke-width="1.5" d="M21 8.25H10m-5.25 0H3"></path><path stroke="currentColor" stroke-width="1.5" d="M7.5 6v0a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" clip-rule="evenodd"></path><path stroke="currentColor" stroke-width="1.5" d="M3 15.75h10.75m5 0H21"></path><path stroke="currentColor" stroke-width="1.5" d="M16.5 13.5v0a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" clip-rule="evenodd"></path></svg>
        </div>
        <div class="trier-shoes">
            <h3>Trier</h3>
            <span class="material-symbols-outlined">stat_minus_1</span>
        </div>
    </div>
</div>
<div class="container-shoes-collab">
    <div class="container-collab">
        <div class="collab-name">
            <ul class="list-collab-name">
                <li class="list-collab-name-element">Colin Kaepernick</li>
                <li class="list-collab-name-element">Rafael Nadal</li>
                <li class="list-collab-name-element">Eminem</li>
                <li class="list-collab-name-element">Allyson Felix</li>
                <li class="list-collab-name-element">Megan Thee Stallion</li>
                <li class="list-collab-name-element">Chloe Kim</li>
                <li class="list-collab-name-element">Giannis Antetokounmpo</li>
                <li class="list-collab-name-element">Sifan Hassan</li>
                <li class="list-collab-name-element">Aya Nakamura</li>
                <li class="list-collab-name-element">Odell Beckham Jr.</li>
            </ul>
        </div>
    </div>
    <div class="container-shoes-c">
        <div class="container-shoes-element">
            <div class="shoes-collab-image">
                <img class="shoes-image" src="{{ asset('img/airForce1.png') }}" alt="Nike Air Force One">
            </div>
            <div class="shoes-collab-name">
                <h2>
                    Colin Kaepernick
                </h2>
            </div>
            <div class="shoes-collab-price">
                <h2>
                    139€
                </h2>
            </div>
        </div>
        <div class="container-shoes-element">
            <div class="shoes-collab-image">
                <img class="shoes-image" src="{{ asset('img/airForce1.png') }}" alt="Nike Air Force One">
            </div>
            <div class="shoes-collab-name">
                <h2>
                    Rafael Nadal
                </h2>
            </div>
            <div class="shoes-collab-price">
                <h2>
                    139€
                </h2>
            </div>
        </div>
        <div class="container-shoes-element">
            <div class="shoes-collab-image">
                <img class="shoes-image" src="{{ asset('img/airForce1.png') }}" alt="Nike Air Force One">
            </div>
            <div class="shoes-collab-name">
                <h2>
                    Eminem
                </h2>
            </div>
            <div class="shoes-collab-price">
                <h2>
                    139€
                </h2>
            </div>
        </div>
        <div class="container-shoes-element">
            <div class="shoes-collab-image">
                <img class="shoes-image" src="{{ asset('img/airForce1.png') }}" alt="Nike Air Force One">
            </div>
            <div class="shoes-collab-name">
                <h2>
                    Allyson Felix
                </h2>
            </div>
            <div class="shoes-collab-price">
                <h2>
                    139€
                </h2>
            </div>
        </div>
        <div class="container-shoes-element">
            <div class="shoes-collab-image">
                <img class="shoes-image" src="{{ asset('img/airForce1.png') }}" alt="Nike Air Force One">
            </div>
            <div class="shoes-collab-name">
                <h2>
                    Megan Thee Stallion
                </h2>
            </div>
            <div class="shoes-collab-price">
                <h2>
                    139€
                </h2>
            </div>
        </div>
        <div class="container-shoes-element">
            <div class="shoes-collab-image">
                <img class="shoes-image" src="{{ asset('img/airForce1.png') }}" alt="Nike Air Force One">
            </div>
            <div class="shoes-collab-name">
                <h2>
                    Chloe Kim
                </h2>
            </div>
            <div class="shoes-collab-price">
                <h2>
                    139€
                </h2>
            </div>
        </div>
        <div class="container-shoes-element">
            <div class="shoes-collab-image">
                <img class="shoes-image" src="{{ asset('img/airForce1.png') }}" alt="Nike Air Force One">
            </div>
            <div class="shoes-collab-name">
                <h2>
                    Giannis Antetokounmpo
                </h2>
            </div>
            <div class="shoes-collab-price">
                <h2>
                    139€
                </h2>
            </div>
        </div>
        <div class="container-shoes-element">
            <div class="shoes-collab-image">
                <img class="shoes-image" src="{{ asset('img/airForce1.png') }}" alt="Nike Air Force One">
            </div>
            <div class="shoes-collab-name">
                <h2>
                    Sifan Hassan
                </h2>
            </div>
            <div class="shoes-collab-price">
                <h2>
                    139€
                </h2>
            </div>
        </div>
        <div class="container-shoes-element">
            <div class="shoes-collab-image">
                <img class="shoes-image" src="{{ asset('img/airForce1.png') }}" alt="Nike Air Force One">
            </div>
            <div class="shoes-collab-name">
                <h2>
                    Aya Nakamura
                </h2>
            </div>
            <div class="shoes-collab-price">
                <h2>
                    139€
                </h2>
            </div>
        </div>
        <div class="container-shoes-element">
            <div class="shoes-collab-image">
                <img class="shoes-image" src="{{ asset('img/airForce1.png') }}" alt="Nike Air Force One">
            </div>
            <div class="shoes-collab-name">
                <h2>
                    Odell Beckham Jr.
                </h2>
            </div>
            <div class="shoes-collab-price">
                <h2>
                    139€
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
