{% extends 'base.html.twig' %}

{% block title %}FormEvent index{% endblock %}

{% block body %}
    <h1>Liste des inscrits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom / Prénom</th>
                <th>Mail</th>
                <th>SerialNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for form_event in form_events %}
            <tr>
                <td>{{ form_event.id }}</td>
                <td>{{ form_event.FirstName }} {{ form_event.LastName }}</td>
                <td>{{ form_event.mail }}</td>
                <td>{{ form_event.SerialNumber }}</td>
                <td>
                    <a href="{{ path('app_form_event_show', {'id': form_event.id}) }}">show</a>
                    <a href="{{ path('app_form_event_edit', {'id': form_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_form_event_new') }}">Create new</a>

<style>
body{
    margin-top: 50px;
}

h1 {
    text-align: center;
}

table.table {
    margin: auto;
    margin-top: 30px;
}

a {
    padding: 10px;
    background: white;
    border-radius: 100px;
}

tr {
    height: 50px;
    background-color: white;
}

nav{
    display: none;
}
</style>
{% endblock %}
